/* style.css */
*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sora', sans-serif;
}

body{
    background: conic-gradient(at right top, rgb(251, 113, 133), rgb(217, 70, 239), rgb(99, 102, 241));
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    height: calc(100vh - 25px);
}

::-webkit-scrollbar {
    display: none; }

.light-font{
    font-size: .8rem;
    font-weight: 100;
    background: rgba( 239, 239, 239, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
    padding: 1rem;
    height: 7rem;
}

.light-font2{
    font-size: .8rem;
    font-weight: 100;
    background: rgba( 239, 239, 239, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
    padding: 1rem;
}

.titulo{
    color: #fff;
    font-weight: 600;
}

.glassmorfismo{
    color: #f8e2ff;
    background: rgba( 115, 115, 115, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.footer{
    font-weight: 100;
    color: #eab3fa;
}

#pronostico{
    position: relative;
    right: 2rem;
    top: 1rem;
}

#mensaje-error{
    padding: 1rem;
    background: rgba( 104, 104, 104, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    border-radius: 10px;
}

#svgError{
    margin: auto;
    height: 40px;
    width: 40px;
}

/* Media queries para background */

@media screen and (max-width: 450px) {
    body {
        background: conic-gradient(at right top, rgb(251, 113, 133), rgb(217, 70, 239), rgb(99, 102, 241));
        height: 100%;
        background-repeat: no-repeat;
    }
  }

  @media screen and (max-height: 760px) {
    body {
        background: conic-gradient(at right top, rgb(251, 113, 133), rgb(217, 70, 239), rgb(99, 102, 241));
        height: 100%;
        background-repeat: no-repeat;
    }
  }