/* style.css */
*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sora', sans-serif;
}

body{
    background: conic-gradient(at right top, rgb(251, 113, 133), rgb(217, 70, 239), rgb(99, 102, 241));
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    height: calc(100vh - 25px);
}

::-webkit-scrollbar {
    display: none; }

.light-font{
    font-size: .8rem;
    font-weight: 100;
}

.titulo{
    color: #fff;
    font-weight: 600;
}

.footer{
    font-weight: 100;
    color: #eab3fa;
}

#pronostico{
    position: relative;
    right: 2rem;
}

#svgError{
    margin: auto;
    height: 40px;
    width: 40px;
}

/* Media queries para background */

@media screen and (max-width: 450px) {
    body {
        background: conic-gradient(at right top, rgb(251, 113, 133), rgb(217, 70, 239), rgb(99, 102, 241));
        height: 100%;
        background-repeat: no-repeat;
    }
  }

  @media screen and (max-height: 760px) {
    body {
        background: conic-gradient(at right top, rgb(251, 113, 133), rgb(217, 70, 239), rgb(99, 102, 241));
        height: 100%;
        background-repeat: no-repeat;
    }
  }