<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climapp</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <!-- Encabezado común de la aplicación -->
      <h1>Clima</h1>
      <hr>
      <!-- Otros elementos comunes del encabezado -->
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
      <!-- Pie de página común de la aplicación -->
      <small>Pie de página de la aplicación</small>
      <!-- Otros elementos comunes del pie de página -->
    </footer>

    <script>
        // Función para enviar las coordenadas de geolocalización al servidor
        function enviarCoordenadas(latitude, longitude) {
          // Enviar las coordenadas al servidor Flask
          fetch('/obtener_clima', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ latitude: latitude, longitude: longitude })
          })
          .then(response => response.json())
          .then(data => {
            // Manejar los datos del clima recibidos desde el servidor
            console.log(data);
          })
          .catch(error => {
            // Manejar los errores de la solicitud
            console.error(error);
          });
        }
      
        // Obtener las coordenadas de geolocalización del cliente
        function obtenerCoordenadas() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              var latitude = position.coords.latitude;
              var longitude = position.coords.longitude;
      
              // Enviar las coordenadas al servidor
              enviarCoordenadas(latitude, longitude);
            }, function(error) {
              // Manejar los errores de la geolocalización
              console.error(error);
            });
          } else {
            console.log("Geolocalización no soportada por el navegador.");
          }
        }
      
        // Llamar a la función para obtener las coordenadas cuando la página se haya cargado
        document.addEventListener("DOMContentLoaded", function() {
          obtenerCoordenadas();
        });
      </script>  
  </body>
</html>
