<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Climapp</title>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

</head>
<body>
  <header>
    <!-- Encabezado común de la aplicación -->
    <h1>Clima</h1>
    <hr>
    <!-- Otros elementos comunes del encabezado -->
  </header>

  <main>
    {% block content %}
    <h2>Información del clima</h2>
    <div id="contenido-clima" style="display: none;">
      <p>El pronóstico para hoy es principalmente <span id="descripcion"></span>.</p>
      <p>La temperatura actual es de <span id="temperatura"></span>°C.</p>
      <p>En <span id="ciudad"></span>.</p>
    </div>
    <div id="mensaje-error" style="display: none;">
      <p>No se pudo obtener la información del clima.</p>
    </div>
    {% endblock %}
  </main>

  <footer>
    <!-- Pie de página común de la aplicación -->
    <small>Pie de página de la aplicación</small>
    <!-- Otros elementos comunes del pie de página -->
  </footer>

  <!-- Agrega aquí tus scripts JavaScript comunes -->
  <script>
    $(document).ready(function() {
      // Función para enviar las coordenadas de geolocalización al servidor
      function enviarCoordenadas(latitude, longitude) {
        // Enviar las coordenadas al servidor Flask
        $.ajax({
          url: '/obtener_clima',
          method: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({ latitude: latitude, longitude: longitude }),
          success: function(response) {
            // Actualizar los elementos HTML con los datos del clima
            $('#ciudad').text(response.ciudad);
            $('#descripcion').text(response.descripcion);
            $('#temperatura').text(response.temperatura);
            // Mostrar el contenido del clima
            $('#contenido-clima').show();
          },
          error: function(error) {
            // Manejar los errores de la solicitud
            console.error(error);
            // Mostrar el mensaje de error
            $('#mensaje-error').show();
          }
        });
      }

      // Obtener las coordenadas de geolocalización del cliente
      navigator.geolocation.getCurrentPosition(function(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        // Enviar las coordenadas al servidor
        enviarCoordenadas(latitude, longitude);
      }, function(error) {
        // Manejar el error de obtener la ubicación
        console.error(error);
        // Mostrar el mensaje de error
        $('#mensaje-error').show();
      });
    });
  </script>
</body>
</html>
