<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- no cache -->
    <meta http-equiv="Cache-control" content="no-cache" />

    <meta
      name="description"
      content="Obten el clima actual de tu ubicación, las temperaturas máximas y mínimas y pronóstico."
    />
    <meta
      property="og:description"
      content="Obten el clima actual de tu ubicación, las temperaturas máximas y mínimas y pronóstico."
    />
    <meta property="og:image" content="https://i.imgur.com/fD1aBkH.png" />
    <meta property="og.type" content="non_profit" />
    <meta
      name="twitter:description"
      content="Obten el clima actual de tu ubicación, las temperaturas máximas y mínimas y pronóstico."
    />
    <meta name="twitter:image" content="https://i.imgur.com/fD1aBkH.png" />

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climapp</title>
    <!-- Bootstrap css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;800&family=Sora:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Animate css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/61042a5f3b.js"
      crossorigin="anonymous"
    ></script>
    <!-- Owl Carousel CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />

    <!-- Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  </head>

  <body class="container bg-dark h-auto">
    <header class="mt-4">
      <!-- Encabezado común de la aplicación -->
      <h1 class="text-center titulo">Clima</h1>
      <hr />
      <!-- Otros elementos comunes del encabezado -->
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer class="text-center py-3 footer">
      <!-- Pie de página común de la aplicación -->
      <small class="small">Chily, 2023</small>
      <!-- Otros elementos comunes del pie de página -->
    </footer>

    <!-- Agrega aquí tus scripts JavaScript comunes -->
    <script>
      $(document).ready(function () {
        // Obtener los elementos HTML
        var ciudadElement = $(".ciudad");
        var descripcionElement = $("#descripcion");
        var temperaturaElement = $("#temperatura");
        var temperaturaMinElement = $("#temp_min");
        var temperaturaMaxElement = $("#temp_max");
        var latitudElement = $("#latitud");
        var longitudElement = $("#longitud");
        var iconoElement = $("#icono");
        var uvElement = $("#uv_max");
        var uvActualElement = $("#uvActual");
        var probLluviaElement = $("#probLluvia");
        var nubosidadElement = $("#nubosidad");
        var humedadElement = $("#humedad");
        var iconoElement2 = $("#icono2");
        var codigo_clima2Element = $("#codigo_clima2");
        var descripcion2Element = $("#descripcion2");
        var probabilidad_lluvia2Element = $("#probabilidad_lluvia2");
        var temperatura_min2Element = $("#temperatura_min2");
        var temperatura_max2Element = $("#temperatura_max2");
        var uv_index_max2Element = $("#uv_index_max2");

        // Limpiando variables para cada consulta
        ciudadElement.empty();
        descripcionElement.empty();
        temperaturaElement.empty();
        temperaturaMinElement.empty();
        temperaturaMaxElement.empty();
        latitudElement.empty();
        longitudElement.empty();
        iconoElement.empty();
        uvElement.empty();
        uvActualElement.empty();
        probLluviaElement.empty();
        nubosidadElement.empty();
        humedadElement.empty();
        iconoElement2.empty();
        codigo_clima2Element.empty();
        descripcion2Element.empty();
        probabilidad_lluvia2Element.empty();
        temperatura_min2Element.empty();
        temperatura_max2Element.empty();
        uv_index_max2Element.empty();

        // Obtener la ubicación actual del usuario
        function obtenerUbicacion() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
              function (position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;

                // Actualizar los elementos HTML con las coordenadas
                latitudElement.text(latitude.toFixed(6));
                longitudElement.text(longitude.toFixed(6));

                // Obtener el clima utilizando las coordenadas
                obtenerClima(latitude, longitude);
              },

              function (error) {
                // Manejar el error de obtener la ubicación
                console.error(error);
                // Mostrar el mensaje de error
                $(".cargando").hide();
                $("#mensaje-error").show();
                $("#svgWrapper").show();
              }
            );
          } else {
            alert("La geolocalización no es compatible en este navegador.");
          }
        }

        // Obtener el clima utilizando las coordenadas
        function obtenerClima(latitude, longitude) {
          var data = {
            latitude: latitude,
            longitude: longitude,
          };

          // Realizar una solicitud POST al servidor para obtener el clima
          $.ajax({
            url: "/obtener_clima",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
              // Actualizar los elementos HTML con la información del clima
              ciudadElement.text(response.ciudad);
              descripcionElement.text(response.descripcion);
              temperaturaElement.text(response.temperatura + "°C");
              temperaturaMinElement.text(response.temperatura_min + "°C");
              temperaturaMaxElement.text(response.temperatura_max + "°C");
              uvElement.text(response.uv_index_max);
              uvActualElement.text(response.uv_index_actual);
              probLluviaElement.text(response.probabilidad_lluvia + "%");
              nubosidadElement.text(response.nubosidad + "%");
              humedadElement.text(response.humedad_relativa + "%");
              codigo_clima2Element.text(response.codigo_clima2);
              descripcion2Element.text(response.descripcion2);
              probabilidad_lluvia2Element.text(response.probabilidad_lluvia2 + "%");
              temperatura_min2Element.text(response.temperatura_min2 + "°C");
              temperatura_max2Element.text(response.temperatura_max2 + "°C");
              uv_index_max2Element.text(response.uv_index_max2);

              // Obtener el icono correspondiente al clima
              obtenerIconoClima(response.descripcion);
              obtenerIconoClima2(response.descripcion2);
              // obtenerIconoClima(response.descripcion2Element);

              // Mostrar el contenido del clima
              $(".cargando").hide();
              $(".contenido-clima").show();
              $("#carousel").show()
            },
            error: function (error) {
              // Manejar los errores de la solicitud
              console.error(error);
              // Mostrar el mensaje de error
              $("#mensaje-error").show();
            },
          });
        }

        // Obtener el icono correspondiente al clima utilizando la descripción
        function obtenerIconoClima(descripcion) {
          var icono = "";

          switch (descripcion) {
            case "Despejado":
            case "Principalmente despejado":
              icono = "fa-sun text-warning";
              break;
            case "Parcialmente nublado":
              icono = "fa-cloud-sun";
              break;
            case "Nublado":
              icono = "fa-cloud";
              break;
            case "Niebla":
              icono = "fa-smog";
              break;
            case "Niebla con escarcha":
              icono = "fa-smog"; // Opcional: puedes asignar un ícono diferente si lo deseas
              break;
            case "Llovizna ligera":
            case "Llovizna moderada":
            case "Llovizna densa":
              icono = "fa-cloud-rain";
              break;
            case "Lluvia ligera":
            case "Lluvia moderada":
            case "Lluvia fuerte":
            case "Lluvia helada ligera":
            case "Lluvia helada fuerte":
              icono = "fa-cloud-showers-heavy";
              break;
            case "Nieve ligera":
            case "Nieve moderada":
            case "Nieve fuerte":
            case "Granos de nieve o cinarra":
              icono = "fa-snowflake";
              break;
            case "Lluvia leve":
            case "Lluvia moderada":
            case "Lluvia violenta":
              icono = "fa-cloud-rain";
              break;
            case "Chubascos de nieve leves":
            case "Chubascos de nieve fuertes":
              icono = "fa-snowflake"; // Opcional: puedes asignar un ícono diferente si lo deseas
              break;
            default:
              icono = "fa-question";
              break;
          }

          // Actualizar el elemento HTML con el icono correspondiente
          iconoElement.attr("class", "fas " + icono);
        }

        // Obtener el icono correspondiente al clima utilizando la descripción
        function obtenerIconoClima2(descripcion) {
          var icono = "";

          switch (descripcion) {
            case "Despejado":
            case "Principalmente despejado":
              icono = "fa-sun text-warning";
              break;
            case "Parcialmente nublado":
              icono = "fa-cloud-sun";
              break;
            case "Nublado":
              icono = "fa-cloud";
              break;
            case "Niebla":
              icono = "fa-smog";
              break;
            case "Niebla con escarcha":
              icono = "fa-smog"; // Opcional: puedes asignar un ícono diferente si lo deseas
              break;
            case "Llovizna ligera":
            case "Llovizna moderada":
            case "Llovizna densa":
              icono = "fa-cloud-rain";
              break;
            case "Lluvia ligera":
            case "Lluvia moderada":
            case "Lluvia fuerte":
            case "Lluvia helada ligera":
            case "Lluvia helada fuerte":
              icono = "fa-cloud-showers-heavy";
              break;
            case "Nieve ligera":
            case "Nieve moderada":
            case "Nieve fuerte":
            case "Granos de nieve o cinarra":
              icono = "fa-snowflake";
              break;
            case "Lluvia leve":
            case "Lluvia moderada":
            case "Lluvia violenta":
              icono = "fa-cloud-rain";
              break;
            case "Chubascos de nieve leves":
            case "Chubascos de nieve fuertes":
              icono = "fa-snowflake"; // Opcional: puedes asignar un ícono diferente si lo deseas
              break;
            default:
              icono = "fa-question";
              break;
          }

          // Actualizar el elemento HTML con el icono correspondiente
          iconoElement2.attr("class", "fas " + icono);
        }

       
        // Obtener la ubicación y el clima al cargar la página
        obtenerUbicacion();


         // Inicializar el carrusel
         $("#carousel").owlCarousel({
          loop: false,
          margin: 50,
          nav: true,
          dots: false,
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 1,
            },
            1000: {
              items: 1,
            },
          },
        });
      });
    </script>
  </body>
</html>