<!-- index.html -->
{% extends 'base.html' %} 
{% block content %}
    <h2>Información del clima</h2>
    <div id="contenido-clima" style="display: none;">
      <p>El pronóstico para hoy es principalmente <span id="descripcion"></span>.</p>
      <p>La temperatura actual es de <span id="temperatura"></span>°C.</p>
      <p>En <span id="ciudad"></span>.</p>
    </div>
    <div id="mensaje-error" style="display: none;">
      <p class="text-warning">No se pudo obtener la información del clima.</p>
      <p class="text-warning">Debes autorizar el acceso a tu ubicación</p>
    </div>
{% endblock %} 
